div.st-emotion-cache-12w0qpk {
    background-color: #EEEEEE;
    border: 2px solid #CCCCCC;
    padding: 1% 1% 1% 1%;
    border-radius: 5px;
    text-align: center;
}
div.st-emotion-cache-z5fcl4{
    padding : 1rem 1rem 1rem 1rem;
}
div.st-emotion-cache-79elbk.eczjsme10
{
    
    display: none;
}

div.st-emotion-cache-1n5xqho.eczjsme4
{
    
    padding-top: 5rem;
}